header {
background-repeat: no-repeat;
background-color: black;
}

body {
background-image: url(img/bkg.png);
background-color: black;
background-size: 20px;
background-attachment: fixed;
color: white;
font-family: Gotham Pro, serif;
}

@font-face {
    font-weight: light;
    font-family: Gotham Pro;
    src: url("font/gothampro_light.ttf");
}

@font-face {
    font-weight: normal;
    font-family: Gotham Pro;
    src: url("font/gothampro.ttf");
}

@font-face {
    font-weight: medium;
    font-family: Gotham Pro;
    src: url("font/gothampro_medium.ttf");
}

@font-face {
    font-weight: bold;
    font-family: Gotham Pro;
    src: url("font/gothampro_bold.ttf");
}

@font-face {
    font-weight: black;
    font-family: Gotham Pro;
    src: url("font/gothampro_black.ttf");
}

A {
    color: #818181;
}

A:visited {
    color: #818181;
}

A:active {
    color: black;
}

A:hover {
    color: white;
}

/* The sidebar menu */
.sidenav {
    height: 160px;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: black;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: red;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 14px;}
}